.buttonList {
    list-style-type: none; // Убираем маркеры списка
    padding: 0; // Убираем внутренние отступы
    display: grid; // Используем grid layout для выравнивания кнопок
    grid-template-columns: repeat(2, 1fr); // Два столбца равной ширины
    gap: 10px; // Добавляем промежутки между кнопками
  }
  
  .buttonItem {
    margin: 2px; // Добавляем отступы вокруг каждого элемента списка
  }
  
  .button {
    padding: 10px 10px; // Добавляем внутренние отступы для кнопки
    font-size: 16px; // Устанавливаем размер шрифта для кнопки
    cursor: pointer; // Устанавливаем указатель в виде руки при наведении на кнопку
  }
  