

.reviews-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews-list-container {
  max-height: 300px; /* Максимальная высота для списка отзывов */
  overflow-y: auto; /* Скролл по вертикали */
}

.reviews-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.review-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border-left: 5px solid cornflowerblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-date {
  font-weight: normal;
  color: gray;
}

.see-more-btn, .add-review-btn, .submit-review-btn, .cancel-review-btn {
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
  display: block;
}
.submit-review-btn{
  background: #28a745;
  width: 200px;
  font-size: 17px;
}
.see-more-btn, .add-review-btn {
  text-align: center;
}

.see-more-btn {
  margin-top: 10px;
  background: cornflowerblue;
  padding: 7px;
  font-size: 14px;
}

.add-review-btn {
  margin-bottom: 0;
  background: #28a745;
  padding: 12px;
    font-size: 17px;
    width: 200px;
    margin-top: 15px;
}

.cancel-review-btn {
  background-color: red;
  width: 200px;
  font-size:  15px;
}

.error-text {
  color: red;
  font-size: 13px;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form input, .review-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid cornflowerblue;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
