.Section2P1{
    color: red;
    font-size: 22px;
    text-align: center;
    margin: 20px 0 0 0;
}
.Section2P2{
    color: blue;
    font-size: 18px;
}
.Section2PSpan{
    color: black;
    font-size: 16px;
}
