



.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.consultation-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 8px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

label {
  margin-top: 10px;
  display: block;
}

input, textarea {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  // background: gold;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  // background: gold;
}

.modal-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.textarea{
  color: gold;
 
}